@import "tailwindcss";

@font-face {
	font-family: "PP Neuemontreal";
	src: url("/fonts/ppneuemontreal-book.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Neuemontreal";
	src: url("/fonts/ppneuemontreal-medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Neuemontreal";
	src: url("/fonts/ppneuemontreal-bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Custom base styles for body and html to ensure full-screen canvas */
html,
body {
	font-family: "PP Neuemontreal", sans-serif;
	margin: 0;
	padding: 0;
}

/* Ensure the canvas element itself takes the full space of its parent */
canvas {
	display: block;
	width: 100%;
	height: 100%;
}
