---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectItem from '../../components/ProjectItem';
import { projects } from '../../data/projects';
import Button from '../../components/Button';
---

<BaseLayout
  title="Work | Hirusha Dinil Rubasinghe"
  description="Explore my portfolio of web development projects, from interactive applications to full-stack solutions."
>
  <section class="pt-96 pb-20 px-6 md:px-12">
    <div class="max-w-7xl mx-auto">
      <h1 class="text-4xl md:text-8xl uppercase mb-4 text-neutral-100">Projects</h1>
      <p class="text-neutral-400 mb-12 max-w-2xl">
        A collection of projects showcasing my journey in development, from personal explorations to professional collaborations.
      </p>
      <div class="divide-y divide-neutral-800">
        {projects.map((project, index) => (
          <ProjectItem client:visible project={project} index={index} />
        ))}
      </div>
      <div class="mt-20 pt-12 border-t border-neutral-800">
        <Button client:visible href="/blog" label="Read My Blog" />
      </div>
    </div>
  </section>
</BaseLayout>
